/*how to design grid*/
.grid{
    display: grid;
    grid-template-areas:
'one one one one one one one one'
'two two two two two two two two'
'three three three four four five five five'
'six six six seven seven eight eight eight';
    justify-content: space-evenly;
    background-image: url("../images/img_8.png");
}
#item1{
    grid-area: one;
    margin: 10px;
    padding: 10px;
    background-image: url(../images/img_7.png);
    height: 300px;
    text-align: center;
}
#item2{
    grid-area: two;
    margin: 10px;
    padding: 10px;
    width:100%;
    text-align: center;
    color: white;
}
#item3{
    grid-area: three;
    margin: 10px;
    padding: 10px;
height: 250px;
    font-size: smaller;
}
#item4{
    grid-area: four;
    margin: 10px;
    padding: 10px;
    height: 250px;
    font-size: smaller;
}
#item5{
    grid-area: five;
    margin: 10px;
    padding: 10px;
    height: 250px;
    font-size: smaller;
}
#item6{
    grid-area: six;
    margin: 10px;
    padding: 10px;
    height: 300px;
    font-size: smaller;
}
#item7{
    grid-area: seven;
    margin: 10px;
    padding: 10px;
    height: 300px;
    font-size: smaller;
}
#item8{
    grid-area: eight;
    margin: 10px;
    padding: 10px;
    height: 300px;
    font-size: smaller;
}
img{
    width: 100px;
    height: 100px;
}
.class{
    width: 8px;
    height: 8px;
}
#item3,#item4,#item5,#item6,#item7,#item8{
    background-color: #806c30;
               }

